Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
Ans.15
#Creating table and inserting values

create table Customers (ID int,Name varchar(25), Address varchar(25), Age int, Salary int);

insert into Customers(ID, Name, Address, Age,Salary) values (1, 'Rahul', 'Delhi',30,20000);

insert into Customers(ID, Name, Address, Age,Salary) values (2, 'Parul', 'Mumbai',40,30000);

insert into Customers(ID, Name, Address, Age,Salary) values (3, 'Sarul', 'Chennai',35,25000);

insert into Customers(ID, Name, Address, Age,Salary) values (4, 'Arul', 'Banglore',50,40000);

insert into Customers(ID, Name, Address, Age,Salary) values (5, 'Ram', 'Noida',25,15000);

insert into Customers(ID, Name, Address, Age,Salary) values (6, 'Lucky', 'Jaipur',32,60000);

insert into Customers(ID, Name, Address, Age,Salary) values (7, 'James', 'Goa',35,62000);


create table Orders (OiD int, Customer_id int, Amount int);

insert into Orders(OiD, Customer_id, Amount) values (102, 3, 3000);

insert into Orders(OiD, Customer_id, Amount) values (100, 3, 1500);

insert into Orders(OiD, Customer_id, Amount) values (101, 2, 1560);

insert into Orders(OiD, Customer_id, Amount) values (103, 4, 2060);

select * from Customers left join orders on customers.ID=orders.oid union select * from Orders right join Customers on customers.ID=orders.oid;

Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
Ans.16

select * from customers left join orders on customers.id=orders.oid;