Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

Ans.1
IN SQL

SELECT substr(first_name,1,3) FROM worker;

IN Python

cursor.execute('SELECT substr(first_name,1,3) FROM worker')

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

Ans.2
IN SQL

SELECT POSITION('a' IN first_name) FROM Worker WHERE first_name = 'Amitabh';

IN Python

cursor.execute('SELECT POSITION("a" IN first_name) FROM Worker WHERE first_name = "Amitabh"')

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

Ans.3
IN SQL

SELECT first_name, max(salary), department from worker group by department

IN Python

cursor.execute('SELECT first_name, max(salary), department from worker group by department')