Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as <WORKER_NAME>.

Ans.1
#IN SQL
select first_name as worker_name from worker; 

#IN Python
cursor.execute('select first_name as worker_name from worker')

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Ans.2
#IN SQL
SELECT DISTINCT DEPARTMENT FROM Worker;

#IN Python
cursor.execute('select distinct department from Worker')

Q-3. Write an SQL query to show the last 5 record from a table.

Ans.3
#IN SQL
SELECT * from Worker ORDER by id DESC LIMIT 5;

#IN Python
cursor.execute('select * from Worker ORDER by id DESC LIMIT 5')

In [16]:
!pip install mysql-connector-python

import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'root1234')

mydb

cursor = mydb.cursor()

cursor.execute("show databases")

cursor.fetchall()

Requirement already satisfied: mysql-connector-python in c:\users\rahul\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\rahul\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

[('assignment',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testrahul',),
 ('testsql',)]

In [17]:
cursor.execute("use assignment")
cursor.execute('select * from Worker')
cursor.fetchall()

[('rahul', 'jaat', 'him', 1),
 ('jimmy', 'jaat', 'him', 2),
 ('jhon', 'jaat', 'fcc', 3),
 ('shalu', 'jaat', 'hcl', 4),
 ('parul', 'kumar', 'radico', 5),
 ('jack', 'panwar', 'bank', 6),
 ('tom', 'kumar', 'ar', 7)]

In [5]:
#Ans.1
cursor.execute("use assignment")
cursor.execute('select first_name as worker_name from worker')
cursor.fetchall()

[('rahul',),
 ('jimmy',),
 ('jhon',),
 ('shalu',),
 ('parul',),
 ('jack',),
 ('tom',)]

In [6]:
#Ans.2
cursor.execute('select distinct department from Worker')
cursor.fetchall()

[('him',), ('fcc',), ('hcl',), ('radico',), ('bank',), ('ar',)]

In [7]:
#Ans.3
cursor.execute('select * from Worker ORDER by id DESC LIMIT 5')
cursor.fetchall()

[('tom', 'kumar', 'ar', 7),
 ('jack', 'panwar', 'bank', 6),
 ('parul', 'kumar', 'radico', 5),
 ('shalu', 'jaat', 'hcl', 4),
 ('jhon', 'jaat', 'fcc', 3)]